<matos-table [status]="usersResource.status()">
  <div header class="header">
    <div class="flex">
      <h1>Utilisateurs</h1>
      <app-search-bar (queryChange)="searchQuery.set($event)" />
    </div>
    <p-button icon="pi pi-plus" label="Ajouter" (onClick)="openAddUser()" />
  </div>
  <p-table [value]="users()">
    <ng-template #header>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Rôle</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template #body let-user>
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          {{
            user.user_groups[0]?.role == 'user'
              ? 'Utilisateur'
              : 'Administrateur'
          }}
        </td>
        <td>
          <!-- Actions can be added here -->
        </td>
      </tr>
    </ng-template>
  </p-table>
  <app-paginator
    [(page)]="page"
    [(size)]="size"
    [totalRecords]="usersResource.value()?.total ?? 0"
    [options]="options" />
</matos-table>
