<form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">
  <p-float-label variant="on">
    <input
      type="email"
      pInputText
      fluid
      autocomplete="email"
      ngModel
      name="email"
      required
      id="email" />
    <label for="email">Email</label>
  </p-float-label>

  @if (error()) {
    <div class="invalid">{{ error() }}</div>
  }
  <button
    pButton
    type="submit"
    [loading]="loading()"
    label="Envoyer un mail de réinitialisation"
    [disabled]="!loginForm.valid"></button>
</form>
