<div class="header">
  <div class="flex">
    <h2>Structures dépendantes</h2>
  </div>

  <!-- <p-button
    icon="pi pi-plus"
    label="Ajouter"
    (onClick)="openCreateUnitDialog()" /> -->
</div>

<matos-table status="success">
  <p-table [value]="units()" stripedRows>
    <ng-template #header>
      <tr>
        <th>Nom</th>
        <th>Couleur</th>
        <th>
          <div class="chiefs-th">
            Chefs
            <p-button
              (click)="toggleShowChiefsList()"
              [icon]="`pi ${showChiefsList() ? 'pi-eye-slash' : 'pi-eye'}`"
              [tp]="`${showChiefsList() ? 'Masquer' : 'Afficher'} les chefs`" />
          </div>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-unit>
      <tr>
        <td>{{ unit.name }}</td>
        <td style="vertical-align: middle">
          <div
            [style]="
              `width: 40px; height: 28px; background-color: ${unit.color}; border-radius: 4px;`
            "></div>
        </td>
        <td>
          @if (showChiefsList()) {
            <ul>
              @for (chef of unit.members; track $index) {
                <li>{{ chef.firstname }} {{ chef.lastname }}</li>
              }
            </ul>
          } @else {
            {{ unit.members.length }}
          }
        </td>
        <td class="actions">
          <p-button
            icon="pi pi-pencil"
            (onClick)="openUpdateUnitDialog(unit)"
            size="small" />
          <!-- <p-button size="small" icon="pi pi-trash" severity="danger" /> -->
        </td>
      </tr>
    </ng-template>
  </p-table>
</matos-table>
