:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;

  @media (min-width: 768px) {
    padding: 0 2rem;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;

  gap: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid hwb(120 55% 44%);

  @media (min-width: 768px) {
    padding: 1rem 2rem;
  }

  > .flex {
    gap: 1rem;
  }
}

.paginator {
  border-top: 1px solid hwb(120 55% 44%);
  display: flex;
  align-items: center;
  padding-left: 2rem;
  gap: 1rem;
}
