:host {
  display: block;
}

.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  p-iconfield {
    flex: 1;
  }
}

.actions {
  display: flex;
  gap: 0.5rem;
}
