:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 2rem;

  @media (max-width: 768px) {
    margin: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid hwb(120 55% 44%);

  > .flex {
    gap: 1rem;
  }
}

.paginator {
  border-top: 1px solid hwb(120 55% 44%);
  display: flex;
  align-items: center;
  padding-left: 2rem;
  gap: 1rem;
}

li {
  white-space: nowrap;
}
.chiefs-th {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
