<app-upload-file
  [handler]="fileUploadHandler"
  [fileUrl]="image()"
  (fileUploaded)="setImagePath($event)"
  [maxFileSize]="1024 * 1024 * 2" />
<form class="flex wrap" [formGroup]="form">
  <p-float-label variant="on">
    <input pInputText id="name" formControlName="name" />
    <label for="name">Nom de la structure</label>
  </p-float-label>
  <p-floatlabel variant="on">
    <textarea
      rows="5"
      cols="30"
      pTextarea
      id="description"
      formControlName="description"></textarea>
    <label for="description">Description</label>
  </p-floatlabel>
</form>
<button
  pButton
  type="submit"
  (click)="updateStructure()"
  [disabled]="form.invalid || !form.touched">
  Enregistrer
</button>
