<form [formGroup]="form" class="modal-content">
  <div class="row">
    <p-floatLabel variant="on">
      <input pInputText type="text" id="name" formControlName="name" />
      <label for="name">Nom</label>
    </p-floatLabel>
    <div class="row">
      <p-colorpicker id="color" formControlName="color" />
      <label for="color">Couleur</label>
    </div>
    <div class="row">
      <input id="color" pInputText formControlName="color" />
    </div>
  </div>

  <p-float-label variant="on">
    <p-multiselect
      [options]="chiefs.value()"
      [filter]="true"
      (onFilter)="chiefsFilter.set($event.filter)"
      [style]="{ width: '100%' }"
      [showToggleAll]="false"
      display="chip"
      formControlName="chiefs"
      optionLabel="name" />

    <label for="users">Chef•taine•s de l'unité</label>
  </p-float-label>

  @if (chiefsControl.length > 0) {
    <p-float-label variant="on">
      <p-select
        [style]="{ width: '100%' }"
        formControlName="responsible"
        optionLabel="name"
        [options]="chiefsControl" />

      <label for="responsible">Responsable matériel</label>
    </p-float-label>
  }
</form>
<p-footer>
  <p-button label="Annuler" severity="secondary" (onClick)="closeCancel()" />
  <p-button
    [label]="validateLabel()"
    [disabled]="form.invalid"
    (onClick)="closeConfirm()" />
</p-footer>
