<form class="modal-content" [formGroup]="form">
  <div class="flex wrap">
    <p-float-label variant="on">
      <label for="event">Nom de l'emprunt</label>
      <input pInputText formControlName="name" id="event" [fluid]="true" />
    </p-float-label>
    <div class="flex flex-1">
      <span
        [style]="
          `display:block; width: 40px; height: 28px; background-color: ${form.get('unit')!.value?.color}; border-radius: 4px;`
        "></span>
      @if (units().length > 1) {
        <p-float-label variant="on">
          <p-select
            formControlName="unit"
            id="unit_id"
            [options]="units()"
            optionLabel="name"
            [optionValue]="undefined"
            [fluid]="true"
            [showClear]="true"></p-select>
          <label for="unit_id">Unité empruntante</label>
        </p-float-label>
      } @else {
        @let unit = units()[0];
        <p>Unité empruntante : {{ unit.name }}</p>
      }
    </div>
  </div>
  <div class="flex wrap">
    <p-float-label variant="on">
      <p-date-picker
        appendTo="body"
        showIcon
        iconDisplay="input"
        [showTime]="true"
        hourFormat="24"
        dateFormat="yy-mm-dd"
        formControlName="start_date"
        id="start_date"
        stepMinute="30"
        readonlyInput
        #start_date
        (ngModelChange)="resetEndDate()">
        <ng-template pTemplate="footer">
          <button
            pButton
            type="button"
            label="Fermer"
            (click)="start_date.toggle()"></button>
        </ng-template>
      </p-date-picker>
      <label for="start_date">Début de l'emprunt</label>
    </p-float-label>

    <p-float-label variant="on">
      <p-date-picker
        showIcon
        appendTo="body"
        iconDisplay="input"
        [showTime]="true"
        hourFormat="24"
        dateFormat="yy-mm-dd"
        stepMinute="30"
        formControlName="end_date"
        id="end_date"
        readonlyInput
        [responsiveOptions]="responsiveOptions"
        [minDate]="minDate()"
        #end_date>
        <ng-template pTemplate="footer">
          <button
            pButton
            type="button"
            label="Fermer"
            (click)="end_date.toggle()"></button>
        </ng-template>
      </p-date-picker>
      <label for="end_date">Fin de l'emprunt</label>
    </p-float-label>
  </div>
  <small class="text-danger">
    Attention, modifier les dates suppirmera le matériel dans la liste
    ci-dessous.</small
  >

  <p-select
    [filter]="true"
    [filterFields]="['name', 'category.name']"
    (onFilter)="itemsSearchQuery.set($event.filter)"
    optionLabel="name"
    optionValue="id"
    (onChange)="addItem($event.value); select.selectedOption = null"
    [lazy]="true"
    [loading]="availableItemsResource.isLoading()"
    [virtualScroll]="true"
    [virtualScrollOptions]="scrollOption()"
    [group]="true"
    #select />

  @for (item of items.value; track item.id) {
    <div class="flex">
      {{ item.name }}
      <p-button
        icon="pi pi-times"
        severity="secondary"
        class="ml-auto"
        (onClick)="removeItem(item)"
        [style]="{ 'margin-left': 'auto' }"></p-button>
    </div>
  }
</form>

<p-footer>
  <p-button label="Annuler" severity="secondary" (onClick)="close()" />
  <p-button label="Réserver" [disabled]="!form.valid" (onClick)="submit()" />
</p-footer>
