<form class="modal-content" [formGroup]="formGroup()">
  <div class="flex wrap">
    <p-float-label variant="on" class="flex-1">
      <input pInputText formControlName="name" id="event" [fluid]="true" />
      <label for="event">Nom de l'emprunt</label>
    </p-float-label>
    <div class="flex flex-1" style="width: 100%">
      <span
        [style]="
          `display:block; width: 40px; height: 28px; border-radius: 4px; background-color: ${selectedStructure()?.color ?? 'black'}; `
        "></span>
      @if (structures().length > 1) {
        <p-float-label variant="on" style="width: 100%">
          <p-select
            formControlName="structure"
            id="structure_id"
            [options]="structures()"
            optionLabel="name"
            optionValue="id"
            fluid />
          <label for="structure_id">Unité empruntante</label>
        </p-float-label>
      } @else {
        @let structure = selectedStructure();
        <p>Structure empruntante : {{ structure?.name }}</p>
      }
    </div>
  </div>
  <div class="flex wrap">
    <p-float-label variant="on" class="flex-1">
      <p-date-picker
        formControlName="start_date"
        fluid
        showIcon
        appendTo="body"
        iconDisplay="input"
        [disabled]="true"
        [dateFormat]="dateFormat"
        id="start_date" />
      <label for="start_date">Début de l'emprunt</label>
    </p-float-label>

    <p-float-label variant="on" class="flex-1">
      <p-date-picker
        formControlName="end_date"
        fluid
        [readonlyInput]="true"
        showIcon
        appendTo="body"
        iconDisplay="input"
        [disabled]="true"
        [dateFormat]="dateFormat"
        id="end_date" />
      <label for="end_date">Fin de l'emprunt</label>
    </p-float-label>
  </div>
  <p-date-picker
    selectionMode="range"
    inline
    fluid
    [ngModelOptions]="{ standalone: true }"
    [ngModel]="doubleDates()"
    (ngModelChange)="datesSelected($event)" />
</form>

<div class="footer">
  <p-button
    label="Suivant"
    icon="pi pi-arrow-right"
    iconPos="right"
    (onClick)="nextStep.emit()"
    [disabled]="formGroup().invalid" />
</div>
