:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 2rem;
  @media (max-width: 768px) {
    margin: 0 1rem;
  }
}

.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  p-iconfield {
    flex: 1;
  }
}

.actions {
  display: flex;
  gap: 0.5rem;
}
