<h1 class="title-page">
  <a
    pButton
    routerLink="/items"
    icon="pi pi-arrow-left"
    [text]="true"
    size="large"
  ></a>
  @if (subscription()) {
    {{ subscription()?.name }}
  } @else {
    <p-skeleton height="2rem" width="70vw" borderRadius="1rem" />
  }
</h1>

<p-accordion>
  <p-accordionTab header="Calendrier">
    <full-calendar
      #calendar
      [deepChangeDetection]="true"
      [options]="calendarOptions()"
    />
  </p-accordionTab>
</p-accordion>

<div class="title">
  <h2>Anomalies</h2>
  <p-button
    label="Déclarer"
    icon="pi pi-plus"
    iconPos="right"
    size="large"
    (onClick)="featureClicked('declare_ano_subscription')"
  />
</div>

@for (issue of issues() ?? []; track $index) {}

<pre>{{ subscription() | json }} </pre>
