<div class="form">
  <p-float-label variant="on">
    <textarea
      id="comment"
      pTextarea
      [fluid]="true"
      rows="5"
      [formControl]="formGroup()"></textarea>
    <label for="comment"> Commentaires pour l'événement (optionnel) </label>
  </p-float-label>
</div>

<div class="footer">
  <p-button
    label="Précédent"
    icon="pi pi-arrow-left"
    iconPos="left"
    (onClick)="previousStep.emit()" />
  <p-button
    label="Suivant"
    icon="pi pi-arrow-right"
    iconPos="right"
    [disabled]="formGroup().invalid"
    (onClick)="nextStep.emit()" />
</div>
