<div class="form">
  <h2>{{ event().informations.name }}</h2>
  <p>Merci de vérifier les informations de l'événement avant de le créer.</p>
  <p>Si tout est correct, cliquez sur "Créer l'événement".</p>
  <h3>Informations</h3>
  <p>
    Du <b>{{ event().informations.start_date | date: 'short' }}</b> au
    <b>{{ event().informations.end_date | date: 'short' }}</b>
  </p>

  <h3>Commentaire</h3>
  <div>
    <pre>{{ event().comment }}</pre>
  </div>

  <h3>Liste du matériel :</h3>
  <div class="content">
    @for (group of groupedItems(); track group.category) {
      <h3>{{ group.category }}</h3>
      <ul>
        @for (item of group.items; track item.item.id) {
          <li>
            <span
              >{{ item.item.name }}
              @if (!item.item.category?.identified) {
                (x{{ item.quantity }})
              }
            </span>
          </li>
        }
      </ul>
    }
  </div>
</div>

<div class="footer">
  <p-button
    label="Précédent"
    icon="pi pi-arrow-left"
    iconPos="left"
    (onClick)="previousStep.emit()" />
  <p-button
    [label]="`${isUpdate() ? 'Modifier' : 'Créer'} l'événement`"
    [icon]="`pi ${isUpdate() ? 'pi-pencil' : 'pi-plus'}`"
    iconPos="right"
    (onClick)="nextStep.emit()" />
</div>
