<form class="modal-content" [formGroup]="form">
  <div class="form-group">
    <label for="event">Nom de l'emprunt</label>
    <input pInputText formControlName="name" id="event" />
  </div>

  <div class="form-group">
    <label for="start_date">Début de l'emprunt</label>
    <p-calendar
      showIcon
      iconDisplay="input"
      [showTime]="true"
      hourFormat="24"
      dateFormat="yy-mm-dd"
      formControlName="start_date"
      id="start_date"
      stepMinute="30"
      readonlyInput
      #start_date
    >
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Fermer"
          (click)="start_date.toggle()"
        ></button>
      </ng-template>
    </p-calendar>
  </div>

  <div class="form-group">
    <label for="end_date">Fin de l'emprunt</label>
    <p-calendar
      showIcon
      iconDisplay="input"
      [showTime]="true"
      hourFormat="24"
      dateFormat="yy-mm-dd"
      stepMinute="30"
      formControlName="end_date"
      id="end_date"
      readonlyInput
      [minDate]="date(form.get('start_date')?.getRawValue())"
      #end_date
    >
      <!-- [minDate]="date(form.get('start_date')?.getRawValue())" -->
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Fermer"
          (click)="end_date.toggle()"
        ></button>
      </ng-template>
    </p-calendar>
  </div>
</form>

<p-footer>
  <p-button label="Annuler" severity="secondary" (onClick)="close()" />
  <p-button label="Emprunter" [disabled]="!form.valid" (onClick)="submit()" />
</p-footer>
