:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: row;

  gap: 1rem;
  align-items: center;

  &.flex-1 {
    flex: 1;
  }

  & > p-float-label,
  & > p {
    flex: 1;
  }
  p {
    display: flex;
    margin: 0;
    align-items: center;
    gap: 0.5rem;
  }
}

.modal-content {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

p-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-bottom: 1rem;
}
