:host ::ng-deep {
  display: block;
  .p-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.options {
  // les elements font 50% de la largeur de leur parent max, avec un wrap
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  > * {
    width: 100%;
    @media (min-width: 768px) {
      width: calc(50% - 0.5rem);
    }
  }
}
