<div class="modal-content">
  @for (com of comments(); track $index) {
    <span class="small">
      {{ com.author.name }} commented on {{ com.created_at | date }}:
    </span>
    <p>{{ com.comment }}</p>
    @if (!$last) {
      <hr style="margin: 0 1rem" />
    }
  }
  <p-inplace #inplace closable="closable">
    <ng-template pTemplate="display">
      <p-button
        class="inline-flex"
        severity="help"
        icon="pi pi-plus"
        label="Ajouter un commentaire">
      </p-button>
    </ng-template>
    <ng-template pTemplate="content">
      <div style="display: grid; gap: 0.5rem">
        <textarea
          [ngModel]="newComment()"
          (ngModelChange)="newComment.set($event)"
          rows="3"
          class="w-full"
          pTextarea
          placeholder="Ajouter un commentaire"></textarea>
        <button pButton (click)="onAddComment()" [disabled]="!newComment()">
          Ajouter
        </button>
      </div>
    </ng-template>
  </p-inplace>
</div>
<p-footer>
  <p-button label="Fermer" severity="secondary" (onClick)="ref.close()" />
  <p-button label="Resoudre" (onClick)="onResolve()" />
</p-footer>
