<div class="header">
  <div class="flex">
    <h1>Catégories</h1>

    @if (layout() == 'grid') {
      <p-select
        [options]="sortOptions"
        [ngModel]="orderBy()"
        dropdownIcon="pi pi-sort" />

      <p-button
        outlined
        [icon]="`pi pi-sort-alpha-down${sortBy() === 1 ? '' : '-alt'}`"
        (onClick)="switchSortOrder()" />
    }
  </div>
  <p-button
    icon="pi pi-plus"
    label="Ajouter"
    (onClick)="openCreateCategroyModal()" />
</div>
<matos-table [status]="categoriesQuery.status()">
  <p-data-view [value]="categoriesQuery.data()?.data ?? []" [layout]="layout()">
    <ng-template #header>
      <div class="flex justify-end">
        <p-select-button
          [ngModel]="layout"
          (ngModelChange)="setLayout($event)"
          [options]="dataViewType"
          [allowEmpty]="false"
          size="small">
          <ng-template #item let-option>
            <i
              [class]="
                option.value === 'list' ? 'pi pi-bars' : 'pi pi-table'
              "></i>
          </ng-template>
        </p-select-button>
      </div>
    </ng-template>
    <ng-template #list let-items>
      <p-table
        [value]="categoriesQuery.data()?.data ?? []"
        stripedRows
        [sortField]="orderBy()"
        (onSort)="orderBy.set($event.field); sortBy.set($event.order)">
        <ng-template #header>
          <tr>
            <th pSortableColumn="name">Nom <p-sortIcon field="name" /></th>
          </tr>
        </ng-template>
        <ng-template #body let-category>
          <tr
            (click)="openUpdateCategoryModal(category)"
            class="cursor-pointer">
            <td>{{ category.name }}</td>
          </tr>
        </ng-template>
      </p-table>

      <!-- @for (item of items; track $index) {
            <app-list-item
              (click)="isAdmin() ? openItemUpdate(item) : openItemView(item)"
              [item]="item" />
            @if (!$last) {
              <hr style="margin: 0 1rem;" />
            }
          } -->
    </ng-template>
    <ng-template #grid let-items>
      <div class="grid">
        @for (item of items; track $index) {
          <p-card (click)="openUpdateCategoryModal(item)">
            <ng-template #header> </ng-template>
            <h3>{{ item.name }}</h3>
            <div>
              {{ item.description }}
            </div>
          </p-card>
        }
      </div>
    </ng-template>
  </p-data-view>

  <app-paginator
    [(page)]="page"
    [(size)]="size"
    [totalRecords]="categoriesQuery.data()?.total ?? 0" />
</matos-table>
