/* You can add global styles to this file, and also import other style files */
// @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "./reset.scss";
@import "./theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
html,
body,
app-root {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

input
// .p-calendar
{
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

h1 {
  margin: 1rem 0 3rem;
}

p {
  margin: 0 0 1rem;
}

.fc .fc-toolbar {
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0.5rem;
  }
}
