/* You can add global styles to this file, and also import other style files */
// @import "primeng/resources/themes/lara-light-blue/theme.css";
@forward './reset.scss';
@use 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';
@import 'tippy.js/animations/scale.css';
html,
body,
app-root {
  font: {
    family: 'Raleway', sans-serif;
    size: 16px;
  }
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

input
// .p-calendar
{
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  &.wrap {
    flex-wrap: wrap;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.content-center {
  justify-content: center;
}
.flex-1 {
  flex: 1;
}

p {
  margin: 0;
}

.fc .fc-toolbar {
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.fc-daygrid-body,
.fc-col-header {
  width: 100% !important;
  table {
    width: 100% !important;
  }
}

.small {
  font-size: 0.8rem;
}

a[pButton] {
  text-decoration: none;
}

a {
  color: inherit;
}

.p-tieredmenu-mobile {
  position: absolute !important;
}

.p-dialog-content {
  height: 100%;
}

.invalid {
  color: var(--p-red-500);
}

table {
  table-layout: auto;
}
th {
  text-wrap: nowrap;
}
td:not(.p-datepicker-day-cell) {
  vertical-align: middle;
  width: 100%;
  max-width: fit-content;
  min-width: 0;
  &.image {
    width: 0;
    img {
      width: 32px;
      height: 32px;
      object-fit: cover;
    }
  }
  // &:has(img),
  &:has(p-button) {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
  }
}

.text-danger {
  color: var(--p-red-500);
}

.no-show-mobile {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
