/* You can add global styles to this file, and also import other style files */
// @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "./theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "angular-calendar/scss/angular-calendar.scss";

html,
body,
app-root {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

input
// .p-calendar
{
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
