<p-card>
  <ng-template pTemplate="header">
    <div class="flex">
      <h2 class="p-card-title">{{ item().name }}</h2>
      <p-tag severity="secondary"> {{ item().category!.name }} </p-tag>
    </div>
  </ng-template>
  <div class="body">
    <p>{{ item().description }}</p>
    <div class="button-group">
      <p-button
        label="Emprunter"
        [disabled]="!item().usable"
        (click)="openAddSubscriptionDialog()">
      </p-button>
      <a
        pButton
        label="Voir les détails"
        [routerLink]="['/items', item().id]"
        severity="info">
      </a>
    </div>
    <!-- <full-calendar
      #calendar
      [options]="calendarOptions()"
      style="max-height: 80vh"
    /> -->
  </div>
</p-card>
